<div class="container">
	<h1 class="logo">{{#link-to "index"}}NMD VIDEO WALL{{/link-to}}</h1>	
	<ul>
	  <li>{{#link-to "submissions"}}My Submissions{{/link-to}}</li>
	  <li>{{#link-to "submissions.create"}}Submit{{/link-to}}</li>
	  <li>Logout</li>
	</ul>
</div>
